* {
    margin: 0;

    box-sizing: border-box;
}

button {
    border: none;
    border-radius: 50px;
    background-color: blue;
    cursor: pointer;
    width: 170px;
    height: 66px;
}

.tabela1 {
    background-color: #C9FD15;
}

h1 {
    font-size: -webkit-xxx-large;
    text-align: center;
}

.botao {
    background-color: red;
    border-color: black;
}



.bt {
    background-color: #FFFFFF;
}